numpy==1.26.2
transformers==4.34.0
torch==2.0.1
accelerate==0.21.0
bitsandbytes==0.41.0
scikit-learn==1.2.2
pillow==10.1.0
pandas==2.0.3
spacy
llava
einops
sentencepiece


#other models 
openai
google.generativeai
anthropic
